 <div class="parallax-container">
    <div class="parallax"><%=image_tag 'olar1.jpg' %></div>

 



<div class="row">
 
        <div class=" superior ">
            <h5 class=" amatic-sc center-align fs-title  "> <b>Achados</b></h5>
            <h4 class=" amatic-sc center-align fs-title  ">&</h4>
            <h5 class=" amatic-sc center-align fs-title  ">Perdidos</h5>
            <div class="center align">
             <a href="#chico"><i id = 'arrow' class="large material-icons valign">keyboard_arrow_down</i></a></div>
            
        </div>
        
    </div>


 </div>
 <div class="divider"></div>
<div class="row">
    <div id="chico" class="scrollspy col  s12 l6 m12   ">
        <div class="hideme center-align ">
            <%= link_to home_index_path, class:'waves-effect waves-light ' do %>
            <%=image_tag 'happy.png', class: 'center-align responsive-img circle '%>
            <%end%>
        </div>
        <div class="hideme center-align">
            <%= link_to home_index_path, class:'waves-effect waves-light btn-flat btn-large' do %>
            <h4> <span class="indie-flower"> <b>Achei !</b></span></h4>
            <%end%>
        </div>
       
    </div>
    <div class="  col s12 l6 m12 ">
        <div class=" hideme center-align">
            <%= link_to items_show_path , class:'waves-effect waves-light' do %>
            <%=image_tag 'sad.png', class: ' responsive-img circle'%>
            <%end%>
        </div>
        <div class=" hideme center-align">
            <%= link_to items_show_path , class:'waves-effect waves-light btn-flat btn-large' do %>
            <h4> <span class="indie-flower"> <b>Perdi !</b></span></h4>
            <%end%>
        </div>
    </div>
</div>

