 <div class="parallax-container valign-wrapper">
    <div class="parallax"><%=image_tag 'olar1.jpg' %></div>

 



<div class="row valign">
 
        <div class=" superior ">
            <span class=" amatic-sc center-align fs-title shadow-green   "> <b>A C H A D O S</b></span>
            <h4 class=" amatic-sc center-align fs-title  ">&</h4>
            <span class=" amatic-sc center-align fs-title  shadow-green "> <b>P E R D I D O S </b></span>
            <div class="center align">
             <a href="#chico"><i id = 'arrow' class=" hvr-float shadow-black large material-icons valign  ">keyboard_arrow_down</i></a></div>

            
        </div>
        
    </div>


 </div>
 <div class="divider"></div>
 <div class="botton">
<div class="row pad">
    <div id="chico" class="  scrollspy col  s12 l6 m12   ">
        <div class="hideme center-align ">
            <%= link_to root_path, class:'waves-effect waves-light ' do %>
            <%=image_tag 'happy.png', class: 'center-align responsive-img  '%>
            <%end%>
        </div>
        <div class="hideme center-align">
            <%= link_to root_path, class:'waves-effect waves-light btn-flat btn-large' do %>
            <h4> <span class="indie-flower"> <b>Achei !</b></span></h4>
            <%end%>
        </div>
       
    </div>
    <div class="  col s12 l6 m12 ">
        <div class=" hideme center-align">
            <%= link_to perdeu_path , class:'waves-effect waves-light' do %>
            <%=image_tag 'sad.png', class: ' responsive-img center-align'%>
            <%end%>
        </div>
        <div class=" hideme center-align">
            <%= link_to perdeu_path , class:'waves-effect waves-light btn-flat btn-large' do %>
            <h4> <span class="indie-flower"> <b>Perdi !</b></span></h4>
            <%end%>
        </div>
    </div>
</div>
</div>

