<!DOCTYPE html>
<html>
<head>
  <title>LostAndFound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
<%= error%>
<%= yield %>

 <footer class="page-footer transparent">
 <div class="divider"></div>
          <div class="container ">
            <div class="row">
              
            </div>
          </div>
          <div class="footer-copyright light-green lighten-1 ">
            <div class="container">
            <div class="left">
            <span class="grey-text text-lighten-4" href="#!">Desenvolvido por: </span>
              
                   <%=image_tag 'mandacaru2.png', class: ' responsive-image '%>
            <span class="amatic-sc fsm "> <b> M a n d a c a r u </b> <span class="black-text">T.I</span></span>
                    </div>

            
            
            </div>
           
          </div>
        </footer>
            
</body>
</html>
